# Backend envs
PORT=5000
MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/kingvibez?retryWrites=true&w=majority
JWT_SECRET=change_this_jwt_secret
CLOUDINARY_URL=cloudinary://<key>:<secret>@<cloud_name>
STRIPE_SECRET_KEY=sk_test_xxx
FRONTEND_URL=http://localhost:3000
