# Backend envs
PORT=5000
MONGO_URI=mongodb+srv://Tecbros:tecbrosDB999@tecbros.pa4swaw.mongodb.net/?retryWrites=true&w=majority&appName=Tecbros
JWT_SECRET=G8dL4pA2sDfG4jH7kL8mN6bV5cXzE3
CLOUDINARY_URL=cloudinary://<key>:<secret>@<cloud_name>
STRIPE_SECRET_KEY=sk_test_xxx
FRONTEND_URL=http://localhost:3000
